@import 'tailwindcss';

@plugin 'tailwindcss-animate';
@plugin "@tailwindcss/typography";

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

/* Start Long Soeng Font */
@font-face {
    font-family: KantumruyPro;
    src: url('/assets/fonts/KantumruyPro/KantumruyPro.ttf') format('truetype');
}

/* End Long Soeng Font */

/* Scroll Bar Custom */
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #655eb3b8;
    /* Tailwind violet-500 */
    border-radius: 9999px;
}

/* react-photo-view Custom CSS */
.PhotoView-Slider__BannerWrap {
    background-color: transparent !important;
}
.PhotoView-Slider__toolbarIcon {
    background-color: rgba(0, 0, 0, 0.65);
}
.PhotoView-Slider__Counter {
    background-color: rgba(0, 0, 0, 0.65);
    height: 44px;
    display: flex !important; /* enables flexbox layout */
    align-items: center !important; /* vertical center */
    justify-content: center !important; /* horizontal center */
}

/* Animate Border CardHoverGradient2 */

/* Smooth Animate Dark Mode Switch */
::view-transition-old(root),
::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}
/* End Smooth Animate Dark Mode Switch */
@theme {
    --animate-background: background-move ease infinite;

    @keyframes background-move {
        0%,
        100% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }
    }
}

/* Switch dark mode */
@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans:
        'KantumruyPro', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';

    /* Sesor Font */
    --font-luckiest-guy-regular: 'LuckiestGuyRegular';
    --font-proxima-nova-regular: 'ProximaNovaRegular';
    --font-manrope-regular: 'ManropeRegular';
    --font-manrope-light: 'ManropeLight';
    --font-manrope-bold: 'ManropeBold';
    --font-manrope-medium: 'ManropeMedium';
    --font-manrope-semi-bold: 'ManropeSemiBold';
    --font-manrope-extra-light: 'ManropeExtraLight';
    --font-manrope-extra-bold: 'ManropeExtraBold';
    --font-montserrat-black: 'MontserratBlack';
    --font-montserrat-extra-bold: 'MontserratExtraBold';
    --font-nokora-black: 'NokoraBlack';
    --font-kantumruy: 'Kantumruy';
    --font-kantumruy-italic: 'KantumruyItalic';

    /* End Sesor Font */

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-two: var(--primary-two);
    --color-dark-primary: var(--dark-primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --color-true-primary: var(--true-primary);
}

/* === Start Colors Project === */

/* --primary: #655eb3; camlibdata.com */
/* --primary: #6A2E90; sesor.com */
/* --primary-two: #F3AB1C; sesor.com */
/* --primary: #93191e; buddhist.gov.edu */
/* --primary: #134571; book-cambo */

/* === End Start Colors Project === */

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: #655eb3;
    /* --primary: #155cac; */
    --dark-primary: #781216;
    --primary-two: #f3ab1c;
    --primary-three: #8ab35e;
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.87 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --chart-6: oklch(81.1% 0.111 293.571);
    --chart-7: oklch(60.6% 0.25 292.717);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.87 0 0);

    --true-primary: #655eb3;
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.145 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.145 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: #fafafa;
    --dark-primary: #fafafa;
    --primary-two: #f3ab1c;
    --primary-three: #8ab35e;
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(49.772% 0.2036 28.232);
    --destructive-foreground: oklch(100% 0.00011 271.152);
    --border: oklch(0.269 0 0);
    --input: oklch(0.269 0 0);
    --ring: oklch(0.439 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.985 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(0.269 0 0);
    --sidebar-ring: oklch(0.439 0 0);

    --true-primary: #655eb3;
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    .section-container {
        @apply mx-auto max-w-7xl px-4;
    }

    /* Start Admin Table */
    .table-data-container {
        @apply w-full overflow-hidden rounded-md px-2 pb-2;
    }

    .table-header {
        @apply border bg-muted/20 whitespace-nowrap;
    }

    .table-body {
        @apply border;
    }

    .table-row {
        @apply even:bg-muted/50;
        /* Stripe effect for even rows */
    }

    /* End Admin Table */

    /* Start Form */
    .form {
        @apply space-y-6 p-4 pb-24;
        /* Stripe effect for even rows */
    }

    .form-field-container {
        @apply grid grid-cols-1 gap-6 md:grid-cols-2;
    }

    /* End Form */
}

@theme inline {
    --animate-gradient: gradient 8s linear infinite;
    @keyframes gradient {
        to {
            background-position: var(--bg-size, 300%) 0;
        }
    }
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
